.stButton > button {
    color:'white';
    width: 100%;
    margin-top:20px;
    height:3rem;
}


.e1akgbir4 {
    padding: 0rem 1rem 1.5rem;
}

.css-q8sbsg > p {
    font-size: 21px;
}

.e1g8pov64 {
    max-width: 90rem;
    padding: 2rem 2rem 10rem;
}